# Importing Libraries

In [6]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [7]:
path=r'C:\Users\shanz\Downloads\MM-2020 Instacart Basket Analysis'

ords_prods_merge = pd.read_pickle(os.path.join(r'C:\Users\shanz\Downloads\MM-2020 Instacart Basket Analysis\Data\Prepared Data\orders_products_merged_derived.pkl'))

# Aggregate Mean of order_number Grouped by department_id

In [8]:
# create subset
ords_prods_merge_sub=ords_prods_merge[:1000000]

In [9]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [10]:
# Use groupby and agg functions to calculate mean of user_order_number
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.633692
2                17.404510
3                17.352053
4                17.946847
5                14.813605
6                16.439148
7                17.292287
8                15.512532
9                15.768036
10               20.506756
11               16.414655
12               16.423806
13               16.623436
14               16.856516
15               16.151671
16               17.612099
17               15.830126
18               19.249792
19               17.115815
20               16.301235
21               23.384047

### Analysis:
Compared to the earlier subset (first 1,000,000 rows), the full dataset shows slightly different averages for each department.
This is expected as more data provides a more accurate reflection of customer ordering behavior.

# Create Loyality Flags

In [11]:
# Creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\shanz\AppData\Local\Temp\ipykernel_12064\2324063168.py:2: FutureWarning: The provided callable <function max at 0x00000223DDB3C860> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
# Checking for new column
ords_prods_merge.head(20)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid range product,Most orders,32
1,1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid range product,Average orders,32
2,2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid range product,Average orders,5
3,3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both,Mid range product,Most orders,3
4,4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid range product,Average orders,3
5,5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid range product,Average orders,26
6,6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid range product,Most orders,9
7,7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid range product,Most orders,12
8,8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid range product,Average orders,20
9,9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid range product,Most orders,20
10,10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,7.0,1,0,both,Mid range product,Most orders,9
11,11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid range product,Most orders,43
12,12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,Mid range product,Most orders,43
13,13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,Mid range product,Most orders,43
14,14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,Mid range product,Most orders,13
15,15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,18,1,both,Mid range product,Average orders,13
16,16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,12,1,both,Mid range product,Average orders,13
17,17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,10,0,both,Mid range product,Fewest orders,28
18,18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,9,1,both,Mid range product,Average orders,28
19,19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,9,1,both,Mid range product,Fewest orders,28

In [13]:
# Assign loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    7857972
Loyal customer      5112638
New customer        3092784
Name: count, dtype: int64

In [15]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0       138  Regular customer            28         32
1       138  Regular customer            30         32
2       709      New customer             2          5
3       764      New customer             1          3
4       764      New customer             3          3
5       777  Regular customer            16         26
6       825      New customer             3          9
7       910  Regular customer            12         12
8      1052  Regular customer            10         20
9      1052  Regular customer            15         20
10     1379      New customer             1          9
11     1480    Loyal customer            36         43
12     1480    Loyal customer            38         43
13     1480    Loyal customer            39         43
14     1494  Regular customer             6         13
15     1494  Regular customer             7         13
16     1494  Regular customer             9         13
17     1540  Regular customer             4         28
18     1540  Regular customer             5         28
19     1540  Regular customer             6         28

In [16]:
# the min,max and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    11.409354  1.0  14900.0
New customer      12.351024  1.0  14900.0
Regular customer  12.031297  1.0  14900.0

New customers have the least price of products in both the average and max. Loyal customer have the highest price of products in both the average and max.

# Create Spending Flag Based on Average Price per User

In [17]:
# Creating column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\shanz\AppData\Local\Temp\ipykernel_12064\655122787.py:2: FutureWarning: The provided callable <function mean at 0x00000223DDB3D260> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [19]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     15583846
High_spender      479548
Name: count, dtype: int64

In [20]:
pd.options.display.max_rows = 100

In [21]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend  spender_flag  prices
0       138       8.206897   Low_spender     5.8
1       138       8.206897   Low_spender     5.8
2       709       8.292373   Low_spender     5.8
3       764       4.987097   Low_spender     5.8
4       764       4.987097   Low_spender     5.8
5       777       7.388372   Low_spender     5.8
6       825       7.027778   Low_spender     5.8
7       910       5.727273   Low_spender     5.8
8      1052       6.926316   Low_spender     5.8
9      1052       6.926316   Low_spender     5.8
10     1379       6.273333   Low_spender     5.8
11     1480       5.238532   Low_spender     5.8
12     1480       5.238532   Low_spender     5.8
13     1480       5.238532   Low_spender     5.8
14     1494       7.379747   Low_spender     5.8
15     1494       7.379747   Low_spender     5.8
16     1494       7.379747   Low_spender     5.8
17     1540       6.796835   Low_spender     5.8
18     1540       6.796835   Low_spender     5.8
19     1540       6.796835   Low_spender     5.8
20     1540       6.796835   Low_spender     5.8
21     1540       6.796835   Low_spender     5.8
22     1540       6.796835   Low_spender     5.8
23     1540       6.796835   Low_spender     5.8
24     1540       6.796835   Low_spender     5.8
25     1540       6.796835   Low_spender     5.8
26     1540       6.796835   Low_spender     5.8
27     1540       6.796835   Low_spender     5.8
28     1540       6.796835   Low_spender     5.8
29     1540       6.796835   Low_spender     5.8
30     1540       6.796835   Low_spender     5.8
31     1540       6.796835   Low_spender     5.8
32     1540       6.796835   Low_spender     5.8
33     1540       6.796835   Low_spender     5.8
34     1598       6.669231   Low_spender     5.8
35     1598       6.669231   Low_spender     5.8
36     1598       6.669231   Low_spender     5.8
37     1647       5.494444   Low_spender     5.8
38     1647       5.494444   Low_spender     5.8
39     1647       5.494444   Low_spender     5.8
40     1647       5.494444   Low_spender     5.8
41     1647       5.494444   Low_spender     5.8
42     2833       7.283333   Low_spender     5.8
43     2850       8.138760   Low_spender     5.8
44     2857       7.600000   Low_spender     5.8
45     3010       6.695000   Low_spender     5.8
46     3029       7.526087   Low_spender     5.8
47     3395       6.850000   Low_spender     5.8
48     3904       7.840000   Low_spender     5.8
49     4006       7.825789   Low_spender     5.8
50     4006       7.825789   Low_spender     5.8
51     4006       7.825789   Low_spender     5.8
52     4006       7.825789   Low_spender     5.8
53     4006       7.825789   Low_spender     5.8
54     4122       8.376667   Low_spender     5.8
55     4141       6.542105   Low_spender     5.8
56     4343       8.315000   Low_spender     5.8
57     4553       6.877778   Low_spender     5.8
58     4845       6.857143   Low_spender     5.8
59     6866       4.783333   Low_spender     5.8
60     7275       5.387500   Low_spender     5.8
61     7669       9.458730   Low_spender     5.8
62     7669       9.458730   Low_spender     5.8
63     7669       9.458730   Low_spender     5.8
64     7981       7.827632   Low_spender     5.8
65     7981       7.827632   Low_spender     5.8
66     7981       7.827632   Low_spender     5.8
67     7981       7.827632   Low_spender     5.8
68     7981       7.827632   Low_spender     5.8
69     8703       7.308730   Low_spender     5.8
70     8723       5.498667   Low_spender     5.8
71     8735       6.112000   Low_spender     5.8
72     9293      10.250000  High_spender     5.8
73     9293      10.250000  High_spender     5.8
74     9467       6.680769   Low_spender     5.8
75     9694       7.471429   Low_spender     5.8
76     9694       7.471429   Low_spender     5.8
77     9694       7.471429   Low_spender     5.8
78     9694       7.471429   Low_spender     5.8
79     9694       7.471429   Low_spender     5.8
80     9694       7.471429   Low_spender     5.8
81     9694       7.471429   Low_spender     5.8
82     9694       7.471429   Low_spender     5.8
83     9694       7.471429   Low_spender     5.8
84     9694       7.471429   Low_spender     5.8
85     9694       7.471429   Low_spender     5.8
86     9848       8.438889   Low_spender     5.8
87    10113       8.880000   Low_spender     5.8
88    10315      10.188889  High_spender     5.8
89    10479       6.658140   Low_spender     5.8
90    10708       8.538462   Low_spender     5.8
91    10708       8.538462   Low_spender     5.8
92    10789       6.559524   Low_spender     5.8
93    10789       6.559524   Low_spender     5.8
94    10789       6.559524   Low_spender     5.8
95    10831       9.026923   Low_spender     5.8
96    11119       5.221311   Low_spender     5.8
97    11186       6.559677   Low_spender     5.8
98    11243       5.345833   Low_spender     5.8
99    11448       6.297727   Low_spender     5.8

#  Create Order Frequency Flag Based on days_since_prior_order

In [22]:
# Create a column for frequet users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\shanz\AppData\Local\Temp\ipykernel_12064\3165240341.py:2: FutureWarning: The provided callable <function median at 0x00000223DDC5FEC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [24]:
# Check frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        11287520
Regular customer          3427275
Non_frequent_customer     1348599
Name: count, dtype: int64

In [25]:
ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  Customer_frequency         frequency_flag
0       138                     3.0                 8.0      Frequent Customer
1       138                    20.0                 8.0      Frequent Customer
2       709                     6.0                 7.0      Frequent Customer
3       764                     7.0                 9.0      Frequent Customer
4       764                     9.0                 9.0      Frequent Customer
5       777                    26.0                11.0       Regular customer
6       825                    30.0                20.0       Regular customer
7       910                    30.0                 1.0      Frequent Customer
8      1052                    19.0                 9.5      Frequent Customer
9      1052                    15.0                 9.5      Frequent Customer
10     1379                     7.0                16.0       Regular customer
11     1480                     7.0                 7.0      Frequent Customer
12     1480                     7.0                 7.0      Frequent Customer
13     1480                    12.0                 7.0      Frequent Customer
14     1494                     2.0                 7.0      Frequent Customer
15     1494                     6.0                 7.0      Frequent Customer
16     1494                    10.0                 7.0      Frequent Customer
17     1540                     7.0                 7.0      Frequent Customer
18     1540                     6.0                 7.0      Frequent Customer
19     1540                    14.0                 7.0      Frequent Customer
20     1540                     8.0                 7.0      Frequent Customer
21     1540                     6.0                 7.0      Frequent Customer
22     1540                    28.0                 7.0      Frequent Customer
23     1540                     7.0                 7.0      Frequent Customer
24     1540                     7.0                 7.0      Frequent Customer
25     1540                     0.0                 7.0      Frequent Customer
26     1540                     7.0                 7.0      Frequent Customer
27     1540                     7.0                 7.0      Frequent Customer
28     1540                     7.0                 7.0      Frequent Customer
29     1540                     7.0                 7.0      Frequent Customer
30     1540                     3.0                 7.0      Frequent Customer
31     1540                    16.0                 7.0      Frequent Customer
32     1540                     5.0                 7.0      Frequent Customer
33     1540                     6.0                 7.0      Frequent Customer
34     1598                     7.0                 6.0      Frequent Customer
35     1598                    21.0                 6.0      Frequent Customer
36     1598                     2.0                 6.0      Frequent Customer
37     1647                     7.0                24.5  Non_frequent_customer
38     1647                    18.0                24.5  Non_frequent_customer
39     1647                     8.0                24.5  Non_frequent_customer
40     1647                    30.0                24.5  Non_frequent_customer
41     1647                    25.0                24.5  Non_frequent_customer
42     2833                     7.0                 7.0      Frequent Customer
43     2850                     9.0                 7.0      Frequent Customer
44     2857                    10.0                10.0      Frequent Customer
45     3010                     7.0                 7.0      Frequent Customer
46     3029                     7.0                28.0  Non_frequent_customer
47     3395                    30.0                18.0       Regular customer
48     3904                     7.0                 7.0      Frequent Customer
49     4006                     7.0                 7.0      Frequent Customer
50     4006                     7.0                 7.0      Frequent Customer
51     4006                     7.0                 7.0      Frequent Customer
52     4006                     5.0                 7.0      Frequent Customer
53     4006                     4.0                 7.0      Frequent Customer
54     4122                     8.0                 7.0      Frequent Customer
55     4141                    30.0                30.0  Non_frequent_customer
56     4343                     7.0                15.0       Regular customer
57     4553                    29.0                29.0  Non_frequent_customer
58     4845                    12.0                20.0       Regular customer
59     6866                     7.0                30.0  Non_frequent_customer
60     7275                     4.0                17.0       Regular customer
61     7669                     5.0                 6.0      Frequent Customer
62     7669                     5.0                 6.0      Frequent Customer
63     7669                    13.0                 6.0      Frequent Customer
64     7981                    10.0                 7.5      Frequent Customer
65     7981                     6.0                 7.5      Frequent Customer
66     7981                     9.0                 7.5      Frequent Customer
67     7981                     6.0                 7.5      Frequent Customer
68     7981                     8.0                 7.5      Frequent Customer
69     8703                     1.0                 1.0      Frequent Customer
70     8723                     7.0                 6.0      Frequent Customer
71     8735                    21.0                24.0  Non_frequent_customer
72     9293                    30.0                30.0  Non_frequent_customer
73     9293                    30.0                30.0  Non_frequent_customer
74     9467                     7.0                24.0  Non_frequent_customer
75     9694                    30.0                10.0      Frequent Customer
76     9694                     8.0                10.0      Frequent Customer
77     9694                     7.0                10.0      Frequent Customer
78     9694                    14.0                10.0      Frequent Customer
79     9694                    28.0                10.0      Frequent Customer
80     9694                    16.0                10.0      Frequent Customer
81     9694                     1.0                10.0      Frequent Customer
82     9694                    14.0                10.0      Frequent Customer
83     9694                     7.0                10.0      Frequent Customer
84     9694                     8.0                10.0      Frequent Customer
85     9694                    16.0                10.0      Frequent Customer
86     9848                     8.0                11.0       Regular customer
87    10113                    14.0                12.0       Regular customer
88    10315                     7.0                10.0      Frequent Customer
89    10479                     8.0                14.0       Regular customer
90    10708                    14.0                14.0       Regular customer
91    10708                    14.0                14.0       Regular customer
92    10789                    10.0                 7.0      Frequent Customer
93    10789                    14.0                 7.0      Frequent Customer
94    10789                     4.0                 7.0      Frequent Customer
95    10831                    23.0                21.5  Non_frequent_customer
96    11119                    30.0                13.0       Regular customer
97    11186                     2.0                 6.5      Frequent Customer
98    11243                     0.0                 6.0      Frequent Customer
99    11448                     3.0                14.0       Regular customer

# Export Dataframe

In [26]:
# Export the updated dataframe
ords_prods_merge.to_pickle(r'C:\Users\shanz\Downloads\MM-2020 Instacart Basket Analysis\Data\Prepared Data\orders_products_merged_aggregated.pkl')